.reset-btn {
  border: none;
  border-radius: 0.5rem;
  background-color: red;
  color: white;
  width: 200px;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  display: block;
  font-family: Garamond, serif;
}

.reset-btn:hover {
  background-color: blue;
}
