* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Fredoka", sans-serif;
}

body.light-mode {
  background-color: #efefef;
  color: #000;
}

body.dark-mode {
  background-color: #222;
  color: #fff;
}

.msg {
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
  color: green;
  font-weight: 500;
  font-family: Garamond, serif;
}

.title {
  text-align: center;
  font-size: 50px;
  color: red;
  font-weight: bold;
  font-family: Garamond , serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mode-text {
  margin-top: 0.5rem;
  font-size: 25px;
  color: blue;
  font-weight: bold;
  font-family: Garamond , serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0 auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.new-game-button{
  border: none;
  border-radius: 0.5rem;
  background-color: blue;
  color: white;
  width: 200px;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  display: block;
  font-family: Garamond, serif;
}

.new-game-button:hover{
  background-color: red;
}